@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: 'FiraCode Nerd Font Mono';
    font-size: 16px;
    min-height: 0;
}

#window {
    padding: 0px 10px;
    background: @base;
}

window#waybar {
    background: @base;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background: @base;
}

window#waybar.solo {
    background: @base;
}

#workspaces button {
    padding: 0px 3px;
    background: @base;
    color: @text;
}

#workspaces button.focused {
    color: @green;
}

#workspaces button.urgent {
    background: @base;
    color: @red;
}

#mode {
    background: @base;
    border: 3px solid @lavender;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#bluetooth {
    padding: 0 10px;
    color: @text;
    background-color: @base;
}

@keyframes blink {
    to {
        color: @text;
    }
}

#battery.warning {
    color: @yellow;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.charging {
    color: @green;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

label:focus {
    background-color: @selection;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor.activated {
    color: @green;
}
